@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700&display=swap");

$readex-pro: 'Readex Pro', sans-serif;
$primary_color: #E38A8A;

body {
	font-family: $readex-pro;
}
.section {
	margin: auto;
	padding: 50px;
}
.titulo {
	text-decoration: none;
	color: white;
	font-size: 25px;
	margin-left: 50px;
	font-weight: bold;
	padding: 20px;
	&:hover {
		color: #ECD6D9;
	}
}
.navbar {
	background-color: #E38A8A;
}
.nav-link {
	display: inline-block;
	position: relative;
	color: white;
	&:hover {
		color: white;
		&:after {
			transform: scaleX(1);
			transform-origin: bottom left;
		}
	}
	&:after {
		content: '';
		position: absolute;
		width: 90%;
		transform: scaleX(0);
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: #ECD6D9;
		transform-origin: bottom right;
		transition: transform 0.25s ease-out;
	}
}
.img-carousel {
	max-width: 360px;
}
.img-about {
	max-width: 360px;
}
.img-galeria {
	width: 18rem;
}
.card {
	width: 18rem;
}
.form-box {
	max-width: 500px;
	margin: auto;
	padding: 50px;
	background: #ffffff;
	border: 10px solid #f2f2f2;
}
.form-group {
	padding: 10px;
}
.label {
	padding: 5px;
}
input {
	width: 100%;
}
textarea {
	width: 100%;
}
.btn {
	text-align: center;
}
ul {
	margin: 0;
	padding: 0;
	li {
		list-style: none;
	}
}
#contact {
	a {
		color: #E38A8A;
		margin: 10px;
	}
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 200px;
	background-color: #E38A8A;
	p {
		font-size: 14px;
	}
}
.icon {
	background-color: #fff;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: transform 1s, box-shadow 0.5s;
	&:hover {
		transform: translateY(-3px);
	}
}
#icon-container {
	display: flex;
	justify-content: center;
}
@media screen and (max-width: 426px) {
	#icon {
		width: 30px;
		height: 30px;
	}
	ul {
		li {
			font-size: 12px;
		}
	}
	#contact {
		p {
			font-size: 10px;
		}
	}
}
@media screen and (min-width: 2560px) {
	#icon {
		width: 50px;
		height: 50px;
	}
	ul {
		li {
			font-size: 20px;
		}
	}
	#contact {
		p {
			font-size: 16px;
		}
	}
}
